{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      Wild Swimming : Organise and Manage your Swims </p>
    <p class="box">
      <i class="fa-solid fa-person-swimming fa-10x" style="color:dodgerblue"></i>
    </p>
  </div>
</section>