{{> welcome-menu}}

<section class="section">
  <p> Sign up or Log in to Wild Swimming </p>
</section>
<section class="hero is-info">
  <div class="hero-body">
    <p class="title">
      Sign up or Log in to Wild Swimming
    </p>
    <p class="subtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
    </p>
  </div>
</section>
<div class="column">
    <img src="/images/wild-swimming.jpg">
  </div>