{{> welcome-menu}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title">
      Welcome to Wild Swimming
    </p>
    <p class="box has-background-info has-text-white">
      Sign Up or Login to Manage and Organize Your Swim Spots
    </p>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-mobile is-multiline">
      <div class="column is-3-desktop is-6-tablet is-12-mobile">
        <figure class="image is-square">
          <img src="/images/ulster.jpg">
        </figure>
      </div>
      <div class="column is-3-desktop is-6-tablet is-12-mobile">
        <figure class="image is-square">
          <img src="/images/munster.jpg">
        </figure>
      </div>
      <div class="column is-3-desktop is-6-tablet is-12-mobile">
        <figure class="image is-square">
          <img src="/images/connaght.jpg">
        </figure>
      </div>
      <div class="column is-3-desktop is-6-tablet is-12-mobile">
        <figure class="image is-square">
          <img src="/images/leinster.jpg">
        </figure>
      </div>
    </div>
  </div>
</section>