{{> welcome-menu}}

<section class="section">
<div class="box">
  <div class="media">
    <div class="media-content">
      <h2 class="title is-5">Welcome to Wild Swimming</h2>
      <p>Sign Up or login to Manage and Organise Your Swim Spots</p>
    </div>
    <div class="column">
      <img src="/images/wild-swimming.jpg">
    </div>
  </div>
</div>
</section>