<form class="box" action="/swimlist/{{swimlist._id}}/addspot" method="POST">
  <label>Enter Swim Spot Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input is-rounded" type="text" placeholder="Enter Swim Spot" name="spot">
      </div>
      <div class="field">
        <input class="input is-rounded" type="text" placeholder="Enter Region" name="region">
      </div>
      <div class="field">
        <input class="input is-rounded" type="text" placeholder="Enter County" name="county">
      </div>
    </div>
  </div>
  <button class="button is-primary is-rounded">Add Spot</button>
</form>