<form class="box" action="/swimlist/{{swimlist._id}}/addspot" method="POST">
  <label class="label">Enter Swim Spot Details</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input is-rounded" type="text" placeholder="Name" name="name">
      </div>
      <div class="field">
        <input class="input is-rounded" type="text" placeholder="Categorey" name="categorey">
      </div>
      <div class="field">
        <input class="input is-rounded" type="text" placeholder="Description" name="description">
      </div>
    </div>
  </div>
  <button class="button is-primary is-rounded">Add Spot</button>
</form>