<form action="/dashboard/addswimlist" method="POST">
  <div class="field">
    <label class="label">Create a Swimlist By Region</label> <input class="input is-rounded" type="text" placeholder="Enter swimlist region" name="title">
  </div>
  <button class="button is-link is-rounded">Add Region</button>
</form>