<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Swim Spot</th>
      <th>Region</th>
      <th>County</th>
    </tr>
  </thead>
  <tbody>
    {{#each swimlist.spots}}
      <tr>
        <td>
          {{spot}}
        </td>
        <td>
          {{region}}
        </td>
        <td>
          {{county}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>